!!! XML
!!!
%html
  %head
    %title Sheep Blog
    %link{:type => "text/css", :rel => "stylesheet", :href => "/blueprint/screen.css", :media => "screen"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "/sheepblog.css"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.js"}
    %script{:type => "text/javascript", :src => "/javascript/jquery.timers-1.2.js"}
    %script{:type => "text/javascript", :src => "/javascript/sheepblog.js"}
      
  %body
    .container
      #main.span-20
        #header.round
          #pagetitle{:class => "round"}
            %img.round{:src => '/images/sheep.gif'}
          #mainmenu{:class => "round"}
            %a{:href => "/rutabaga"}
              Recent
            |
            - if get_user
              %a{:href => "/new"}
                New
              |
              %a{:href => "/logout"}
                Logout
            - else
              %a{:href => "/login"}
                Login

          %br.clear
    
        #sidebar.span-4
          %p
            sidebar
        #hlavni.span-15.round
          - if flash[:notice]
            %p.error
              = flash[:notice]
            
          = yield

          %br.clear
