$fontFamily: Verdana
$fontSize: 14px
$lineHeight: 18px
$bodyBackgroundColor: #cff
$bodyTextColor: #333
$headerBackgroundColor: #fff
$hlavniBackgroundColor: #9ff
$sidebarBackgroundColor: #9ff
$mainTextColor: #000
$mainWidth: 100%
$linkColor: #09c
$sidebarLinkColor: #90c

body
  :background
    :color $bodyBackgroundColor
  :color $bodyTextColor
  :font
    :family $fontFamily
    :size $fontSize
  :line-height $lineHeight

#main
  :width $mainWidth
  :margin
    :left auto
    :right auto
    :bottom 0px
    :top 0px

#header
  :padding
    :top 20px
    :left 50px
    :right 50px
    :bottom 50px

  img
    :padding 10px
    :background
      :color $headerBackgroundColor

  #pagetitle
    :float left

  #mainmenu
    :padding 10px
    :font
      :size smaller
    :background
      :color $headerBackgroundColor
    :float right

#sidebar
  :background
    :color $sidebarBackgroundColor
  :font
    :size smaller
  :margin
    :right 10px
  :padding 10px 20px 10px 20px

  ul
    :margin 0
    :padding 0
    ul
      :margin
        :left 20px

  li.block
    :display block
    
  li.none
    :display none

  a
    :color $linkColor

#topicbar
  :background
    :color $sidebarBackgroundColor
  :font
    :size smaller
  :margin
    :left 0
  :padding 10px 20px 10px 20px

  input
    :font
      :size 80%

  a
    :font
      :size smaller

#hlavni
  :background
    :color $hlavniBackgroundColor
  :padding 10px 20px 10px 20px

  .entryhead
    :font
      :size 70%
      :weight bold
      
    .timestamp
      :float left
      
      a
        :font
          :size 80%
          :style italic

    .subject
      :float right

  .entrybody
    :margin
      :top 10px

    a
      :font
        :size 70%
        :weight bold
      
  .entrynav
    :font
      :size 70%
      :weight bold
      
    .previous
      :float left

    .next
      :float right

  #recenthead
    :font
      :size 70%

    #pages
      :width 70%
      :float left

      ul
        li
          :display inline
          :padding 0px 10px 0px 0px
        
          a
            :font
              :weight bold

    #page
      :float right
      :font
        :weight bold

.entrycontrols
  :float right
  :font
    :size 60%
  :padding 3px
  :margin
    :bottom 5px
  :background
    :color $headerBackgroundColor

.clear
  :clear both

a
  :color $linkColor
  :text-decoration none

  &:hover
    :text-decoration underline

pre
  :font
    :size 80%

hr
  :margin 0

.round
  -moz-border-radius: 10px
  -webkit-border-radius: 10px
  :border-radius 10px

